<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
			<script src="js/sidenav.js"></script>
			<div id="mySidenav" class="sidenav">
				<h1><a href="/">Home</a></h1>
				<a href="tute.html">Tutorials</a>
				<a href="https://github.com/LucaRusso-dev">Projects</a>
				<a href="resume.html">Resume</a>
				<a href="about.html">About Me</a>	
			</div>
		</head>
		<body>
		<div id = "main" class="container">
			<div class="container" id="menuB" onclick="openNav(); threeBar(this);">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</div>
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<ul>
					<li><a href="mailto:lucarusso.521@gmail.com">email</a></li>
					<li><a href="https://github.com/LucaRusso-dev">github.com/LucaRusso-dev</a></li>
				</ul>
			</footer>
		</body>
	</html>
